name: Build

on:
  push:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-26, macos-15-intel, windows-latest, ubuntu-24.04-arm, windows-11-arm]
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Node.js
        uses: actions/setup-node@main
        with:
          node-version: latest

      - name: Setup Package
        run: npm install

      - name: Build Package
        run: npm run package

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: Wolvesville-${{ matrix.os }}
          path: out/Wolvesville-*-*/*
